<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ttms.dao.TicketMapper" >
  <resultMap id="BaseResultMap" type="com.ttms.pojo.Ticket" >
    <id column="ticket_id" property="ticketId" jdbcType="BIGINT" />
    <result column="seat_id" property="seatId" jdbcType="INTEGER" />
    <result column="sched_id" property="schedId" jdbcType="INTEGER" />
    <result column="ticket_price" property="ticketPrice" jdbcType="INTEGER" />
    <result column="ticket_status" property="ticketStatus" jdbcType="TINYINT" />
    <result column="ticket_locked_time" property="ticketLockedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ticket_id, seat_id, sched_id, ticket_price, ticket_status, ticket_locked_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ttms.pojo.TicketExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ticket
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ticket
    where ticket_id = #{ticketId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ticket
    where ticket_id = #{ticketId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ttms.pojo.TicketExample" >
    delete from ticket
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ttms.pojo.Ticket" >
    insert into ticket (ticket_id, seat_id, sched_id, 
      ticket_price, ticket_status, ticket_locked_time
      )
    values (#{ticketId,jdbcType=BIGINT}, #{seatId,jdbcType=INTEGER}, #{schedId,jdbcType=INTEGER}, 
      #{ticketPrice,jdbcType=INTEGER}, #{ticketStatus,jdbcType=TINYINT}, #{ticketLockedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ttms.pojo.Ticket" >
    insert into ticket
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ticketId != null" >
        ticket_id,
      </if>
      <if test="seatId != null" >
        seat_id,
      </if>
      <if test="schedId != null" >
        sched_id,
      </if>
      <if test="ticketPrice != null" >
        ticket_price,
      </if>
      <if test="ticketStatus != null" >
        ticket_status,
      </if>
      <if test="ticketLockedTime != null" >
        ticket_locked_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ticketId != null" >
        #{ticketId,jdbcType=BIGINT},
      </if>
      <if test="seatId != null" >
        #{seatId,jdbcType=INTEGER},
      </if>
      <if test="schedId != null" >
        #{schedId,jdbcType=INTEGER},
      </if>
      <if test="ticketPrice != null" >
        #{ticketPrice,jdbcType=INTEGER},
      </if>
      <if test="ticketStatus != null" >
        #{ticketStatus,jdbcType=TINYINT},
      </if>
      <if test="ticketLockedTime != null" >
        #{ticketLockedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ttms.pojo.TicketExample" resultType="java.lang.Integer" >
    select count(*) from ticket
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ticket
    <set >
      <if test="record.ticketId != null" >
        ticket_id = #{record.ticketId,jdbcType=BIGINT},
      </if>
      <if test="record.seatId != null" >
        seat_id = #{record.seatId,jdbcType=INTEGER},
      </if>
      <if test="record.schedId != null" >
        sched_id = #{record.schedId,jdbcType=INTEGER},
      </if>
      <if test="record.ticketPrice != null" >
        ticket_price = #{record.ticketPrice,jdbcType=INTEGER},
      </if>
      <if test="record.ticketStatus != null" >
        ticket_status = #{record.ticketStatus,jdbcType=TINYINT},
      </if>
      <if test="record.ticketLockedTime != null" >
        ticket_locked_time = #{record.ticketLockedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ticket
    set ticket_id = #{record.ticketId,jdbcType=BIGINT},
      seat_id = #{record.seatId,jdbcType=INTEGER},
      sched_id = #{record.schedId,jdbcType=INTEGER},
      ticket_price = #{record.ticketPrice,jdbcType=INTEGER},
      ticket_status = #{record.ticketStatus,jdbcType=TINYINT},
      ticket_locked_time = #{record.ticketLockedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ttms.pojo.Ticket" >
    update ticket
    <set >
      <if test="seatId != null" >
        seat_id = #{seatId,jdbcType=INTEGER},
      </if>
      <if test="schedId != null" >
        sched_id = #{schedId,jdbcType=INTEGER},
      </if>
      <if test="ticketPrice != null" >
        ticket_price = #{ticketPrice,jdbcType=INTEGER},
      </if>
      <if test="ticketStatus != null" >
        ticket_status = #{ticketStatus,jdbcType=TINYINT},
      </if>
      <if test="ticketLockedTime != null" >
        ticket_locked_time = #{ticketLockedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ticket_id = #{ticketId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ttms.pojo.Ticket" >
    update ticket
    set seat_id = #{seatId,jdbcType=INTEGER},
      sched_id = #{schedId,jdbcType=INTEGER},
      ticket_price = #{ticketPrice,jdbcType=INTEGER},
      ticket_status = #{ticketStatus,jdbcType=TINYINT},
      ticket_locked_time = #{ticketLockedTime,jdbcType=TIMESTAMP}
    where ticket_id = #{ticketId,jdbcType=BIGINT}
  </update>
  
  <!-- 批量插入 -->
  <insert id="insertBatch">
    INSERT INTO ticket(
             `seat_id`,
             `sched_id`,
             `ticket_price`,
             `ticket_status`)
    VALUES
    <foreach collection="list" item="ticket" separator=",">
      (#{ticket.seatId},#{ticket.schedId},#{ticket.ticketPrice},#{ticket.ticketStatus})
    </foreach>
  </insert>
</mapper>